Task_01/gradle-8.7-bin.zip

Task_03/.env

# Gradle build
**/build/
**/.gradle/
.gradle/
*.iml
*.log

# IDE files
.idea/
*.ipr
*.iws

# Distribution jars/zips
*.jar
*.zip

# OS junk
.DS_Store

app.db
*.db