Task_01/gradle-8.7-bin.zip

Task_03/.env

Task_09/chat_server/.env
Task_09/chat_server/__pycache__

# Gradle build
**/build/
**/.gradle/
.gradle/
*.iml
*.log

# IDE files
.idea/
*.ipr
*.iws

# Distribution jars/zips
*.jar
*.zip

# OS junk
.DS_Store

app.db
*.db

node_modules/
cypress/screenshots/
cypress/videos/
cypress/downloads/